<h1>Create a Collection</h1>
<h3>Step 1: data validation</h3>
<p>
    Upload a csv file with a list of channel ids and/or video_ids
</p>
<p>
    The content should respect the following format:
</p>

<ul>
    <ol>
        CSV file separated with commas (not semicolons)
    </ol>
    <ol>
        columns header should be either: channel_id, video_id or both (lowercase)
    </ol>
    <ol>
        channel_ids should be 24 character long and start with "UC". For instance: <em>UC20dglUTkVqzY9ipx_iOnng</em>
    </ol>
    <ol>
        video_ids should be 11 character long. For instance: <em>GkhwHBS1xbk</em>
    </ol>
</ul>

<%= form_with(url: collections_validate_path, scope: :collection, local: true) do |form| %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

    <br />Upload a csv file
    <%= form.file_field :csvfile, multiple: false, direct_upload: true %>


  <div class="actions">
        <%= form.submit "check file"  %>
  </div>
<% end %>
