<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @collection.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @collection.description %>
</p>

<ul class="list-unstyled msg_list">
<% @videos.each do |video| %>
    <%= render 'videos/video_liste', video: video  %>
<% end %>
</ul>

<%= link_to 'Edit', edit_collection_path(@collection) %> |
<%= link_to 'Back', collections_path %>
