<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @collection.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @collection.description %>
</p>

<% if @exports %>
<h2>
    <%= @exports.count()  %> exports
</h2>
    <% @exports.each do |export| %>
    <ul class="list-unstyled msg_list">
    <% export.export_items.each do |export_item| %>
        <% if export_item.csvfile.attachment %>
        <li style = "background: <%= cycle('#f7f7f7', '#FFF') -%>;">
            <%= link_to  "[#{export_item.nrows}x#{export_item.ncolumns}]  #{export_item.title.to_s} on #{export_item.created_at.strftime('%Y-%m-%d %H:%M:%S')}",  rails_blob_url(export_item.csvfile, disposition: "attachment")  %>
        </li>
        <% end %>
    <% end %>
    </ul>
    <% end %>
<% end %>

<h2>
    <%= @channels.count()  %> channels
</h2>

<ul class="list-unstyled msg_list">
<% @channels.each do |channel| %>
<li style = "background: <%= cycle('#f7f7f7', '#FFF') -%>;">
        <%= link_to channel.title, channel_path(channel.channel_id) %>
</li>

<% end %>
</ul>

<h2>
    <%= @videos.count()  %> videos
</h2>
<div class="clearfix"></div>
<%= paginate @videos %>
<ul class="list-unstyled msg_list">
<% @videos.each do |video| %>
    <%= render 'videos/video_liste', video: video  %>
<% end %>
</ul>

<%= link_to 'Edit', edit_collection_path(@collection) %> |
<%= link_to 'Back', collections_path %>
