<p id="notice"><%= notice %></p>

<!-- search form -->
<%= render 'search_form', search: @search %>

<h1>Channels</h1>
<%= paginate @channels %>
<table>

  <tbody>
    <% @channels.each do |channel| %>
      <tr style = "border: #999 1px dashed;">
        <td valign="top" style = "border: #999 1px dashed;">
            <% if channel.title %>
                <h2><%= link_to channel.title, channel %></h2>
            <% else %>
                <%= link_to channel.id, channel %>
            <% end %>
            <p>Status:
                <strong>
                <% if channel.pipeline %>
                    <%= channel.pipeline.status %>
                <% end %>
                </strong>
            </p>
            <br />Country: <%= channel.country %>
            <br />Activity: <%= channel.activity %> <%= channel.activity_score %>
            <br />
            <br />Views: <%= channel.try(:channel_stat).try(:views) %>
            <br />Videos: <%= channel.try(:channel_stat).try(:videos) %>
            <br />Subscribers: <%= channel.try(:channel_stat).try(:subscribers) %>

            <br />
            <br />
            Creation:
            <% if channel.created_at %>
                <%= channel.created_at.to_date %>
            <% end %>

            <br />
            <% if channel.retrieved_at %>
                Last Info: <%= channel.retrieved_at.to_date %>
            <% end %>
            <br />

            <br />
            Next <a href='https://www.youtube.com/feeds/videos.xml?channel_id=<%= channel.id %>' target=_blank>RSS</a>
            Parsing:
            <% if channel.rss_next_parsing %>
                <%= channel.rss_next_parsing.to_date %>
            <% end %>
            <br />Source: <%= channel.origin %>
            <br />
            <%= link_to 'Edit', edit_channel_path(channel) %>
            <span  style = "display:inline; float: right; ">
            <%= channel.id %>
            </span>

        </td>
        <td valign = top width=600px>
            <% if channel.thumbnail %>
            <span  style = "display:inline; float: left; padding-right: 10px">
                <%= image_tag channel.thumbnail %>
            </span>
            <% end %>
            <p style = "display:inline;">
                <%= channel.description %>
            </p>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= paginate @channels %>
