<p id="notice"><%= notice %></p>

<!-- search form -->
<%= render 'search_form', search: @search %>

<div >
    <div class="row">
        <div class="x_panel tile ">

            <div class="x_title">
            <h2> <%= @channel_count %> Channels
                <% if @export_url_csv %><small> <a href = "<%= @export_url_csv %>"> Export csv</a> </small><small><% end %>
            </h2>
            <%= @search.to_s %>
            </div>
        </div>
    </div>


      <div class="row">
          <div class="col-md-3">
              <div class="x_content">
                      <div class="image view view-first">
                          <% if @activity %>
                              <%= bar_chart @activity %>
                              <% end %>
                      </div>
                </div>
          </div>
          <div class="col-md-3">
                <div class="x_content">
                      <div class="image view view-first">
                          <% if @activity %>
                              <%= column_chart @activity_score %>
                              <% end %>
                      </div>
                </div>
          </div>
      </div>
  </div>




      <div class="row">
          <div class="col-md-12">
            <div class="x_panel tile ">
                <div class="x_content" >

            <%= paginate @channels %>
            <ul class="list-unstyled msg_list">
            <% @channels.each do |channel| %>
            <li style = "background: <%= cycle('#f7f7f7', '#FFF') -%>;">

            <div style = "      display: flex; x-justify-content: space-around; x-align-items: stretch;">
        <!-- left -->
             <div style = "width: 300px; flex: 0 0 300px; border-right: 1px dashed #999; padding-left: 8px; padding-right: 8px;">
                 <% if channel.thumbnail %>
                    <%= image_tag channel.thumbnail %>
                 <% end %>
                 <% if channel.title %>
                    <h3><%= link_to channel.title, channel %></h3>
                 <% end %>
                 <br />
                     <%= link_to channel.id, channel %>

             </div>
             <!-- center -->
             <div class="column"  style = " width: 300px; flex: 0 0 300px; padding-left: 8px; padding-right: 8px;">
                 <% if channel.pipeline %>
                 Status: <strong><%= channel.pipeline.status %></strong>
                 <% end %>
                 <br />Country: <%= channel.country %>
                 <br />Activity: <%= channel.activity %> <%= channel.activity_score %>
                 <br />Source: <%= channel.origin %>
                 <% if channel.retrieved_at %>
                 <br />Mis à jour: <%= channel.retrieved_at.to_date %>
                 <% end %>

             </div>
             <!-- right -->
             <div class="column"  style = "  border-left: 1px dashed #999; flex: 300px; padding-left: 15px;">


            <p style = "display:inline;">
                <%= channel.description %>
            </p>
            <div  style = "">
                <%= channel.try(:channel_stat).try(:videos) %> Videos |
                <%= channel.try(:channel_stat).try(:subscribers) %> Subscribers |
            <%= channel.try(:channel_stat).try(:views) %> Views
            </div>
        </div>
    </div>


        </li>
        <% end %>
        </ul>
    </div>

</div>
</div>
</div>
