<li style = "background: <%= cycle('#f7f7f7', '#FFF') -%>;">

    <div style='width:100%; '>
        <% if video.channel %>
            <a href="/channels/<%= video.channel_id %>"><strong><%= video.channel.title %></strong></a>
        <% end %>
        <% if video.title %>
            <a href="/videos/<%= video.video_id %>"><%= video.title.truncate(100) %></a>
        <% else %>
            <a href="/videos/<%= video.video_id %>">---</a>
        <% end %>
        <div style='float:right; display:inline;'>
            <%= video.searches.map{|s| s.keywords}.join(",") %>
        </div>
    </div>

</li>
