<p id="notice"><%= notice %></p>
<%= render 'search_form', search: @search %>
<%= render 'add_video', video: @video %>
<div >
    <!-- placeholder for exports and add to collections -->
    <div class="row">
        <div class="x_panel tile ">
            <div class="x_title">
                <% if @export_url_csv %>
                    <small> <a href = "<%= @export_url_csv %>"> Export csv</a> </small>
                <% end %>
                <%= render partial: "videos/add_to_collections" %>
            </div>
        </div>
    </div>
    <!-- placeholder for charts -->
    <div class="row">
        <div class="col-md-3">
        <div class="x_content">
        <div class="image view view-first">
        <% if @activity %>
            <%= bar_chart @activity %>
        <% end %>
        </div>
        </div>
        </div>
        <div class="col-md-3">
        <div class="x_content">
        <div class="image view view-first">
        <% if @activity %>
            <%= column_chart @activity_score %>
        <% end %>
        </div>
        </div>
        </div>
    </div>
</div>

<div class="col-md-4 ">
        <div class="x_panel" >
            <div class="x_title">
                <h2><%= @videos_count %> <small>Vidéos</small></h2>
                <div class="clearfix"></div>
                <%= paginate @videos %>
            </div>
            <div class="x_content">
                <ul class="list-unstyled msg_list">
                <% @videos.each do |video| %>
                    <%= render 'vignette', video: video, upstream: @upstream, maxviews: @maxviews  %>
                <% end %>
                </ul>
            </div>
        </div>
</div>

<%= link_to "New Video", new_video_path %>
