<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @video.id %>
</p>

<p>
  <strong>Video:</strong>
  <%= @video.video %>
</p>

<p>
  <strong>Channel:</strong>
  <%= @video.channel %>
</p>

<p>
  <strong>Title:</strong>
  <%= @video.title %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @video.summary %>
</p>

<p>
  <strong>Thumbnail:</strong>
  <%= @video.thumbnail %>
</p>

<p>
  <strong>Category:</strong>
  <%= @video.category %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @video.duration %>
</p>

<p>
  <strong>Privacy status:</strong>
  <%= @video.privacy_status %>
</p>

<p>
  <strong>Caption:</strong>
  <%= @video.caption %>
</p>

<p>
  <strong>Published at:</strong>
  <%= @video.published_at %>
</p>

<p>
  <strong>Retrieved at:</strong>
  <%= @video.retrieved_at %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @video.tags %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @video.origin %>
</p>

<p>
  <strong>Footer:</strong>
  <%= @video.footer %>
</p>

<p>
  <strong>Pubdate:</strong>
  <%= @video.pubdate %>
</p>

<p>
  <strong>Live content:</strong>
  <%= @video.live_content %>
</p>

<p>
  <strong>Default audio language:</strong>
  <%= @video.default_audio_language %>
</p>

<p>
  <strong>Default language:</strong>
  <%= @video.default_language %>
</p>

<p>
  <strong>Seconds:</strong>
  <%= @video.seconds %>
</p>

<p>
  <strong>Wikitopics:</strong>
  <%= @video.wikitopics %>
</p>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
