<p id="notice"><%= notice %></p>

<div class="row">
    <div class="col-md-3">
    <div class="x_panel tile ">
        <div class="x_title">
            <h3> <%= @video.title %></h3>
            <div class="clearfix"></div>
        </div>
    <div class="x_content" ">
        <div style = "width:300px; float:left; display:inline; margin-right: 10px;">
        <% if @video.thumbnail %>
        <%= image_tag @video.thumbnail, width: '300'  %>
        <% end %>
        </div>
        <strong><%= link_to @video.channel.title, channel_path(@video.channel) %></strong>
        <ul>
            <li><strong>Status:</strong> <%= @video.pipeline.status %></li>
            <li><strong>Origin:</strong> <%= @video.origin %></li>
            <li><strong>Categorie:</strong>
                <% if @video.category %>
                    <%= @video.category.category %>
                <% end %>
            </li>
            <li><strong>Youtube:</strong>
                    <a href='https://www.youtube.com/watch?v=<%= @video.video_id %>' target=_blank><%= @video.video_id %></a>

            </li>
        </ul>
        <p>
          <%= @video.summary %>
        </p>

    <div>
        <%#= render "add_to_collections", video: @video %>
        <% if not @video.collections.empty? %>
        <p> <strong>This video belongs to collections:  </strong></p>
        <ul>
            <% @video.collections.each do |collection| %>
            <li>
                <%= link_to collection.title, collection_path(collection) %>
            <% end %>
            </li>
        </ul>
        <% end %>


    </div>


    <div>
    <%= link_to 'Edit', edit_video_path(@video) %> -
    </div>
    </div>



</div>
</div>


    <div class="col-md-3">
        <div class="x_content">
                <div class="image view view-first">
                    <% if @views %>
                        <%= line_chart @views %>
                    <% end %>
                </div>
          </div>
    </div>
</div>

<div class="col-md-3">
    <div class="x_panel" >
        <div class="x_title">
            <h2> <%= @video.upstream_count %> Upstream</h2>
            <div class="clearfix"></div>
        </div>
        <% if @upstream_channels %>
        <div class="x_content">
            <ul class="list-unstyled msg_list">
                <% @upstream_channels.each do |channel| %>
                    <li>
                        [<%= @upstream_channel_counts[channel.id] %>]
                        <%= link_to channel.title, channel_path(channel) %>
                    </li>

                <% end %>
            </ul>
        </div>
        <% end %>
    </div>
</div>

<div class="col-md-3">
    <div class="x_panel" >
        <div class="x_title">
            <h2> <%= @video.downstream_count %> Downstream</h2>
            <div class="clearfix"></div>
        </div>
        <% if @downstream_channels %>
        <div class="x_content">
            <ul class="list-unstyled msg_list">
                <% @downstream_channels.each do |channel| %>
                    <li>
                        [<%= @downstream_channel_counts[channel.id] %>]
                        <%= link_to channel.title, channel_path(channel) %>
                    </li>

                <% end %>
            </ul>
        </div>
        <% end %>
    </div>
</div>
