<p id="notice"><%= notice %></p>

<div >

    <div class="row">
        <div class="col-md-3">
        <div class="x_content">
        <div class="image view view-first">
        <% if @activity %>
        <%= bar_chart @activity %>
        <% end %>
        </div>
        </div>
        </div>
        <div class="col-md-3">
        <div class="x_content">
        <div class="image view view-first">
        <% if @activity %>
        <%= column_chart @activity_score %>
        <% end %>
        </div>
        </div>
        </div>
    </div>
</div>

<div class="col-md-4 ">
        <div class="x_panel" >
            <div class="x_title">
                <h2>20 Vidéos les plus vues <small style = "font-size: 12px;">Dernières 24h</small></h2>                
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <ul class="list-unstyled msg_list">
                <% @mvv.each do |video| %>
                    <%= render 'videos/vignette', video: video, upstream: @mvv_upstream, maxviews: @mvv_maxviews  %>
                <% end %>
                </ul>
            </div>
        </div>
</div>

<div class="col-md-4 ">
        <div class="x_panel" >
            <div class="x_title">
                <h2>20 <small>Vidéos les plus recommandées</small></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <ul class="list-unstyled msg_list">
                <% @mrecv.each do |video| %>
                    <%= render 'videos/vignette', video: video, upstream: @mrecv_upstream, maxviews: @mrecv_maxviews  %>
                <% end %>
                </ul>
            </div>
        </div>
</div>
