<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'gentelella', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'gentelella-custom', media: 'all', 'data-turbolinks-track': 'reload' %>
        <!-- <link rel="stylesheet" media="all" href="/assets/gentelella-8a51a6c6ad26e111219c66abc84992b24cf54666ae46f8976fd82f738bbfa113.css" data-turbolinks-track="reload" /> -->
        <!-- <link rel="stylesheet" media="all" href="/assets/gentelella-custom-e0701b381bf61396078809b5153c1ffaa697f4cf5ecd7b03867ad26da57cf798.css" data-turbolinks-track="reload" /> -->

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body class="nav-md">
<div class="container body">
  <% flash.each do |key, value| %>
      <div align="center" id="flash" class="alert alert-<%= key %>"><%= value %></div>
  <% end %>

  <%= render "partials/topnav" %>
  <div class="main_container" >

      <div class="col-md-3 left_col ">
          <%= render "partials/sidenav" %>
      </div>
      <div class="right_col" role="main"  style = "border: #F00 1px solid;">
          <%= yield %>
          <%= render "partials/footer" %>
      </div>

      <%= javascript_include_tag 'footermanifest', 'data-turbolinks-track' => true %>
  </div>
</div>
</body>
</html>
